<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<title>Mike and Sadie's Wedding</title>
</head>
<body>
	<div class="nav">
		<div><a href="/">M + S</a></div>
		<div><a href="/directions">Directions</a></div>
		<div><a href="/reservations">Reservations</a></div>
	</div>

	<%- body %>

</body>
</html>
